<div style="width: 430px; height: 932px; position: relative; background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(223.10, 224.91, 241.19, 0.58) 14%, #CDD1F4 61%)">
  <div style="width: 381px; height: 381px; left: 406px; top: 183px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1px solid">
    <div style="width: 317.50px; height: 317.50px; left: 31.75px; top: 31.75px; position: absolute; background: #287EFF"></div>
    <div style="width: 114.07px; height: 47.91px; left: 247.75px; top: 142.13px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; text-align: center; color: #6C95FF; font-size: 35px; font-family: Inria Sans; font-weight: 700; word-wrap: break-word">128 GB</div>
    <div style="width: 163.85px; height: 47.38px; left: 272.42px; top: 203.33px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; text-align: center; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">Almacenamiento<br/>ocupado</div>
  </div>
  <div style="left: 37px; top: 584px; position: absolute; text-align: center; color: black; font-size: 35px; font-family: Inika; font-weight: 700; word-wrap: break-word">My Files</div>
  <div style="width: 95.67px; height: 116px; left: 87px; top: 642px; position: absolute">
    <div style="width: 95.67px; height: 95.67px; padding: 10px; left: 0px; top: 0px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1px solid; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
      <div style="width: 71px; height: 74px; background: #251A69"></div>
    </div>
    <div style="width: 58.60px; height: 23.92px; left: 19.13px; top: 92.08px; position: absolute; text-align: center; color: black; font-size: 17px; font-family: Inria Sans; font-weight: 400; word-wrap: break-word">Videos</div>
  </div>
  <div style="width: 101px; height: 122.46px; left: 164px; top: 778px; position: absolute">
    <div style="width: 101px; height: 101px; left: 0px; top: 0px; position: absolute">
      <div style="width: 80.48px; height: 67.86px; left: 10.26px; top: 16.57px; position: absolute; background: #89148B"></div>
    </div>
    <div style="width: 90.90px; height: 25.25px; left: 5.05px; top: 97.21px; position: absolute; text-align: center; color: black; font-size: 17px; font-family: Inria Sans; font-weight: 400; word-wrap: break-word">Imagenes</div>
  </div>
  <div style="height: 120.21px; left: 242px; top: 634px; position: absolute">
    <div style="width: 96.17px; height: 96.17px; left: 8.41px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="width: 80.14px; height: 80.14px; position: relative">
        <div style="width: 80.14px; height: 80.14px; left: 0px; top: 0px; position: absolute; border: 5px #247A16 solid"></div>
        <div style="width: 24.04px; height: 32.06px; left: 28.05px; top: 28.05px; position: absolute; border: 5px #247A16 solid"></div>
      </div>
    </div>
    <div style="width: 113px; height: 24.04px; left: 0px; top: 96.17px; position: absolute; text-align: center; color: black; font-size: 17px; font-family: Inria Sans; font-weight: 400; word-wrap: break-word">Documentos</div>
  </div>
  <div style="width: 31px; height: 211px; left: 197px; top: 750px; position: absolute"></div>
  <div style="left: 65px; top: 105px; position: absolute; mix-blend-mode: hard-light; text-align: center; color: #E9D7CA; font-size: 65px; font-family: Itim; font-weight: 400; word-wrap: break-word">Your Fiels</div>
</div>
